body {
	margin: 0;
}

h1 {
	font-size: 72px;
	background: #281B2D;
	color: #FFF;
	margin-top: 0;
	text-align: center;
	padding: 25px 0;
} 

.subhead {
	font-size: 48px;
	background: #281B2D;
	color: #FCD801;
	border-bottom: solid 5px #00C54C;
	padding: 20px;
}

.white-text {
	color: #fff;
}

.container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
